header {
  color: white;
  background: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

#logo {
  background: url(images/logo.png);
  width: 142px;
  height: 60px;
  float: left;
  margin-left: 20px;
}
