.container {
  max-width: 1000px;
  margin: 30px auto 30px auto;
}

.filters {
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.filter:first-child {
  border-right: 1px solid #DDDDDD;
}

.filter {
  height: 100%;
  width: 25%;
  position: relative;
}

.popover {
  display: none;
  margin-top: 3px;
  width: 75.8%;
  position: absolute;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 4px 4px;
  padding: 30px;
  left: -1px;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

.popover li h2 {
  margin-bottom: 0;
  margin-top: 0;
}

ul ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.locations:hover .popover {
  display: block;
}

.amenities:hover .popover {
  display: block;
}

.filters h3 {
  margin-left: 40px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}

.filters h4 {
  margin-left: 40px;
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
}

.search {
  color: white;
  font-size: inherit;
  font-family: inherit;
  margin: 0 30px 0 auto;
  background-color: #FF5A5F;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
}

.search:hover {
  opacity: 90%;
}
